.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: calc(100%-65px);
  }

  .content {
    overflow-y: auto;
    height: calc(100vh - 223px);
    margin-bottom: 200px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    background: #00000014;
    width: 100%;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }