<div class="spinner-wrapper" *ngIf="loader">
  <mat-progress-spinner color="primary" mode="indeterminate" class="center-spinner">
  </mat-progress-spinner>
</div>

<div class="page-wrap">
  <header role="banner">
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Job</span>
        <span class="frs"></span>
        <mat-icon matTooltip="Close" matTooltipPosition="left" class="cp"
          [routerLink]="[ '../../', { outlets: { side1: null } }]">close</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main class="content p-15">
    <form class="example-form">
      <mat-form-field class="fw">
        <input matInput placeholder="Name of job" name="name" [(ngModel)]="job.name">
      </mat-form-field>

      <mat-form-field class="fw">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10" name="description" [(ngModel)]="job.description"
          placeholder="Write a description"></textarea>
      </mat-form-field>

      <mat-form-field class="fw">
        <mat-select [(ngModel)]="job.typeJob" name="typejob">
          <mat-option *ngFor="let f of types" [value]="f.value">
            {{f.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-tab-group animationDuration="0ms" class="fw">
        <mat-tab label="Running options">
          <mat-radio-group name="runType" [(ngModel)]="job.runType" aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button" [value]="0">
              Manual
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              Crone
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="2">
              Delayed
            </mat-radio-button>
          </mat-radio-group>
          <ng-template [ngIf]="job.runType == 1">
            <mat-form-field class="fw">
              <input matInput placeholder="Cron command ex. 1 0 * * *" name="cron" [(ngModel)]="job.crone">
            </mat-form-field>
          </ng-template>
          <ng-template [ngIf]="job.runType == 2">
            <mat-form-field class="fw">
              <input matInput placeholder="Delay seconds" name="delay" [(ngModel)]="job.delay">
            </mat-form-field>
          </ng-template>
        </mat-tab>
        <!-- INPUTS -->
        <mat-tab label="Inputs">
          <mat-form-field class="fw pt-15" *ngIf="job.typeJob == 1">
            <mat-select name="searchTypes" [(ngModel)]="job.searchSettings.searchEngines" [multiple]="true">
              <mat-option *ngFor="let f of searchTypes" [value]="f.value">
                {{f.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-80" *ngIf="job.typeJob == 1">
            <mat-chip-list #chipList aria-label="Keyword selection">
              <mat-chip *ngFor="let k of job?.searchSettings?.keywords" [selectable]="selectable"
                [removable]="removable" (removed)="remove(k)">
                {{k}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New keyword..." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field class="fw" *ngIf="job.typeJob == 1">
            <input type="number" matInput placeholder="Number of pages" [(ngModel)]="job.searchSettings.numberPages"
              name="numpages">
          </mat-form-field>
          <div class="pt-15" *ngIf="job.typeJob == 2">
            <mat-form-field class="fw">
              <input type="text" matInput placeholder="Start page" [(ngModel)]="job.crawlerSettings.startPage"
                name="startpage">
            </mat-form-field>
            <mat-form-field class="fw">
              <input type="number" matInput placeholder="Deep" [(ngModel)]="job.crawlerSettings.deep" name="deep">
            </mat-form-field>
            <mat-form-field class="fw">
              <input type="number" matInput placeholder="Max links" [(ngModel)]="job.crawlerSettings.maxLinks"
                name="maxlinks">
            </mat-form-field>
            <mat-form-field class="fw">
              <input type="number" matInput placeholder="Max links site" [(ngModel)]="job.crawlerSettings.maxLinksSite"
                name="maxlinkssite">
            </mat-form-field>
            <mat-form-field class="fw">
              <input type="number" matInput placeholder="Timeout" [(ngModel)]="job.crawlerSettings.timeout"
                name="timeout">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="job.crawlerSettings.sameSite" name="sameSite">Same site</mat-checkbox>
            <mat-checkbox class="pl-15" [(ngModel)]="job.crawlerSettings.sameDomain" name="sameDomain">Same domain
            </mat-checkbox>

          </div>

        </mat-tab>
        <!-- OUTPUTS -->
        <mat-tab label="Outputs">
          <mat-form-field class="fw">
            <mat-select name="searchOutputType" [(ngModel)]="job.searchSettings.outputs" [multiple]="true">
              <mat-option *ngFor="let f of searchOutputType" [value]="f.value">
                {{f.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>
      <mat-accordion class="pt-15" *ngIf="job.typeJob !== 2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Job results/history
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="jobResultHist" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/app/searchresults', element.id]">{{element.id}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef> Start </th>
              <td mat-cell *matCellDef="let element"> {{element.start | date:'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
              <th mat-header-cell *matHeaderCellDef> End </th>
              <td mat-cell *matCellDef="let element"> {{element.end | date:'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef> Count </th>
              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </main>
  <footer>
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="mr-15" (click)="save()">Save</button>
        <button mat-raised-button color="primary"
          [routerLink]="[ '../../', { outlets: { side1: null } }]">Cancel</button>
        <span class="frs"></span>
        <button mat-raised-button color="warn" class="mr-15" (click)="run()">Run</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>