<div class="spinner-wrapper" *ngIf="loader">
    <mat-progress-spinner color="primary" mode="indeterminate" class="center-spinner">
      </mat-progress-spinner>
</div>

<div class="page-wrap">
  <header role="banner">
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Job</span>
        <span class="frs"></span>
        <mat-icon  matTooltip="Close" matTooltipPosition="left" class="cp" [routerLink]="[ '../', { outlets: { side1: null } }]">close</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main class="content p-15">
    <form class="example-form">
      <mat-form-field class="fw">
        <input matInput placeholder="Name of job" value="Some Job">
      </mat-form-field>

      <mat-form-field class="fw">
        <textarea matInput mat-autosize placeholder="Write a description"></textarea>
      </mat-form-field>

      <mat-form-field class="fw">
          <mat-select>
            <mat-option *ngFor="let f of types" [value]="f.value">
              {{f.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>
  </main>
  <footer>
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="mr-15" (click)="save()">Save</button>
        <button mat-raised-button color="primary" [routerLink]="[ '../', { outlets: { side1: null } }]">Cancel</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>